<div class="sektor">
   <div class="content">
    <div class="txt_heder">EAZYTOUR</div>
    <div class="txt_heder2">експерт сімейного відпочинку</div>
    <div class="img_blok">
      <img class="img" src="../../assets/img/aboutUs/company.jpg" alt="">
   </div>
   <div class="txt_komp">Про EAZYTOUR</div>
   <div class="txt_history">Данний проект був виконаний з метою виконання літньої практики і не претендує 
      на використання у комерційних цілях. Створено студентами Чернівецького національного
       університету ім. Ю. Федьковича кафедри Інженерії програмного забезпечення
        343(3) групи Редчуком Олександром та Семеновим Павлом.
       </div>
</div>
</div>
